:root {
    --primary-color: #297aff;
    --text-color: rgb(255, 255, 255);
    --bg-color: #1c1c1c;
}

.player {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.player .icon-pause {
    display: none;
}

.player.playing .icon-pause {
    display: inline-block;
}

.player.playing .icon-play {
    display: none;
}

.dashboard {
    width: 680px;
    padding: 16px 16px 14px;
    background-color: var(--bg-color);
    top: 0;
    width: 100%;
    max-width: 480px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header h4 {
    color: var(--primary-color);
    font-size: 20px;
}

header h2 {
    color: var(--text-color);
    font-size: 26px;

    margin: 20px 0;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 400px;
}

.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}

/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}

.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}

.control .btn.active {
    color: var(--primary-color);
}

.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.progress {
    width: 100%;
    -webkit-appearance: none;
    height: 6px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    flex: 1;
    max-height: 600px;
    overflow-y: scroll;
    padding: 12px;
}

.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: var(--bg-color);
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 0px 5px 1px rgb(198 192 192 / 10%);
}

.song.active {
    background-color: var(--primary-color);
}

.song:active {
    opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}

.song .thumb {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-size: cover;
    margin: 0 8px;
}

.song .body {
    flex: 1;
    padding: 0 16px;
}

.song .title {
    font-size: 18px;
    color: var(--text-color);
}

.song .author {
    font-size: 12px;
    color: #999;
}

.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}

/*  */
#playlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1c1c1c;
}

#playlist::-webkit-scrollbar {
    width: 10px;
    background-color: #1c1c1c;
}

#playlist::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #297aff;
}
